<form action="" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="Initial-Invemsment"> Initial Invemsment</label>
      <input
        id="Initial-Invemsment"
        type="number"
        name="Initial-Invemsment"
        [(ngModel)]="enterdInitialInvensment"
      />
    </p>
    <p>
      <label for="ِAnnual-Invemsment"> ِAnnual Invemsment</label>
      <input
        id="ِAnnual-Invemsment"
        type="number"
        name="Annual-Invemsment"
        [(ngModel)]="enterdAnnualInvensment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expected-return"> Expected Return</label>
      <input
        id="expected-return"
        type="number"
        name="expected-return"
        [(ngModel)]="enterdExpectedReturn"
      />
    </p>
    <p>
      <label for="ِduration"> Duration</label>
      <input id="ِduration" 
      type="number"
       [(ngModel)]="enterdDuration" 
       name="ِduration"
       />
    </p>
  </div>

  <button>calculate</button>
</form>
